<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/adminSignUp.css" />
        <title>Admin SignUp Page</title>
    </head>
    <body>
        <script type="text/javascript">
            function sameCheck(){
                var pw=document.getElementById("password").value;
                var pwCheck=document.getElementById("passwordCheck").value;
                var notSame=document.getElementById("notSame");
                if(pw==""||pwCheck=="") return;
                if(pw==pwCheck){
                    notSame.style.display="none";
                }else{
                    notSame.style.display="inline-block";
                }
            }
            
        </script>
        <div class="signUpBlock">
            <p style="font-size: 2em;">관리자 가입</p>
            <form action="/admin/signUp" method="post">
                <p>
                    <strong>아이디</strong>
                    <input type="email" id="id" placeholder="your_email@gmail.com">
                </p>
                <p class="pw">
                    <strong>비밀번호</strong> 
                    <input type="password" id="password" onchange="sameCheck()">
                    <i class="lookPw"></i>

                </p>
                <p class="pw">
                    <strong>비밀번호 확인</strong>
                    <input type="password" id="passwordCheck" onchange="sameCheck()">
                    <span id="notSame" style="display:none;color: #d92742">비밀번호가 일치하지 않습니다.</span>
                </p>
                <p>
                    <strong>이름</strong>
                    <input type="text" id="name">
                </p>
                <p>
                    <input type="submit" value="관리자 가입">
                </p>
            </form>
        </div>
    </body>
</html>